
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #111827;
  --text-color: #f9fafb;
   --hover-color: #1f2937;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  margin: 0;
}


.container {
  max-width: 100rem;
  height: auto;
  margin: 0 auto;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  place-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h2 {
  text-align: center;
  color: #333;
}

[data-theme="dark"] .container h2 {
  color: #e0e0e0;
}

form {

  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-group .icon {
  position: absolute;
  left: 10px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px; /* left padding for icon */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button.add {
  background-color: green;
}

button.update {
  background-color: black;
}

button.delete {
  background-color: red;
}

.toggle-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.toggle-table {
  background-color: #6a0dad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-table:hover {
  background-color: #5800a8;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  min-width: 600px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}
[data-theme="dark"] tr:hover {
  background-color: var(--hover-color);
}


tr {
  transition: background-color 0.3s ease;
}

tr:hover{
  background-color: #f1f1f1;
}



.chart-container {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  place-items: center;
}


.toggle-chart {
  background-color: #6a0dad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}


